@import "tailwindcss";

@theme {
    --color-basic: #d0efff;
    --color-basic-hover: #b8e0ff;

    --color-primary: #038399;
    --color-primary-hover: #026b7d;

    --color-accent: #feb9c5;
    --color-accent-hover: #fda3b2;

    --color-warn: #b86b85;
    --color-warn-hover: #a1526d;

    --color-shadows: #021e20;
    --color-shadows-hover: #03363a;

    --color-silver: #AAAAAA;
    --color-silver-hover: #919191;
}


.btn-basic {
    background-color: var(--color-basic);
    color: var(--color-primary);
    border-radius: 6px;
    padding: 2px 8px;
}

.btn-basic:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-basic);
    border-radius: 6px;
    padding: 2px 8px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--color-primary-hover);
}

.btn-warn {
    background-color: var(--color-accent);
    color: var(--color-warn);
    border-radius: 6px;
    padding: 2px 8px;
}

.btn-warn:hover {
    cursor: pointer;
}



/* Scrollbar solo dentro de elementos con clase retro-scroll */
.retro-scroll::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.retro-scroll::-webkit-scrollbar-track {
    background-color: #f9fafb;
    border-left: 1px solid #d1d5db;
    border-bottom: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.retro-scroll::-webkit-scrollbar-thumb {
    border: none;
    background-color: #e5e7eb;
}

.retro-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #d1d5db;
}

.badge-primary {
    background-color: var(--color-primary);
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
    color: var(--color-basic);
    font-weight: bold;
}

.badge-basic {
    background-color: var(--color-primary);
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.input-primary {
    background-color: #fff;
    color: var(--color-shadows);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 2px solid var(--color-primary);
    padding: 4px;
}

.input-primary:focus {
    outline: none;
}

.input-primary:disabled {
    background-color: var(--color-basic-hover);
}



/* Navegadores WebKit/Blink: Chrome, Edge (Chromium), Safari, Opera */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a2a2a2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




